<div class="login-container">
  <div class="login-left">
    <h2>Login! 👋</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input id="email" name="email" formControlName="email" type="email" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" formControlName="password" >
      <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
      <button type="submit" class="btn btn-signin" [disabled]="loginForm.invalid">Sign In</button>
    </form>
    <p>Don't have an account? <a href="#">Sign Up Now</a></p>
  </div>
  <div class="login-right">
    <div class="login-info">
      <h3>Why should I login?</h3>
      <img src="login.jpg" alt="Login">
    </div>
  </div>
</div>